venv/
__pycache__/
*.pyc
.pytest_cache/
server/data/
server/channels.json
server/mpdbackend.env
server/mpdbackend_*.env
!server/mpdbackend_*.env.example
server/install/mpd.conf
*:token
github_token
*:Zone.Identifier
*.log
